
{% extends "main.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='draw.css') }}">

    <style>
        {% for i in range(1, total_pixels + 1) %}
        body:has(#pencil:checked):has(#board:active #p{{i}}:hover) #b{{i}} .v1 { max-width: 1em; visibility: visible; transition: 0s; }
        body:has(#pencil:checked):has(#board:active #p{{i}}:hover) #b{{i}} .v0, 
        body:has(#pencil:checked):has(#board:active #p{{i}}:hover) #b{{i}} .vb { max-width: 0px; visibility: hidden; transition: 0s; }
        
        body:has(#bucket:checked):has(#board:active #p{{i}}:hover) #b{{i}} .vb { max-width: 1em; visibility: visible; transition: 0s; }
        body:has(#bucket:checked):has(#board:active #p{{i}}:hover) #b{{i}} .v0, 
        body:has(#bucket:checked):has(#board:active #p{{i}}:hover) #b{{i}} .v1 { max-width: 0px; visibility: hidden; transition: 0s; }
        {% endfor %}
    </style>

{% endblock %}


{% block content %}
    <div id="panel-draw">
    <div class="board-container">
        <input type="text" id="draw-title" name="title" form="publish-form" value="untitled" maxlength="10">
            <div id="board" style="grid-template-columns: repeat({{ grid_size }}, 32px);">
                {% for i in range(1, total_pixels + 1) %}
                    <div class="p" id="p{{i}}"></div>
                {% endfor %}
            </div>
        </div>

    <div id="sidebar">
        <div class="tool-select">
            <input type="radio" id="pencil" name="tool" checked>
            <input type="radio" id="bucket" name="tool">

            <label for="pencil" class="tool-btn">pencil</label>
            <label for="bucket" class="tool-btn">bucket</label>
            <!-- <label for="eraser" class="tool-btn">test</label> -->
        </div>

        <div id="publish-container">
            <div class="data-block">
                {% for i in range(1, total_pixels + 1) %}
                <span id="b{{i}}" class="byte">
                <span class="v v0">0</span>
                <span class="v v1">1</span>
                <span class="v vb">b</span>
                </span>{% endfor %}
            </div>
            
            <div id="hinthint">
                <div>&darr;</div>
                <div>drag to generate id</div>
                <div>&darr;</div>
            </div>

            <form id="publish-form" action="/" method="POST">

                <div class="barcode-container">
                    <div class="barcode-container2">
                        <textarea name="payload" placeholder=" " class="barcode-gen" required></textarea>
                        <div class="barcode-overlay barcode-gen"></div>  
                    </div>
                </div>

                <button type="submit" class="btn-submit">publish &rarr;</button>
            </form>

            </div>
        </div>
</div>


<svg xmlns="http://www.w3.org/2000/svg" width="0" height="0" style="position: absolute;">
    <defs>
        <filter id="floodfill" x="0" y="0" width="100%" height="100%" color-interpolation-filters="sRGB">
            <feComponentTransfer in="SourceGraphic" result="limit">
                <feFuncA type="discrete" tableValues="0 0 1" />
            </feComponentTransfer>
            <feComponentTransfer in="SourceGraphic" result="seed0">
                <feFuncA type="discrete" tableValues="0 1 0" />
            </feComponentTransfer>
            
            {% for i in range(1, iterations + 1) %}
            <feMorphology in="seed{{ i - 1 }}" operator="dilate" radius="16" result="dilate{{ i }}"></feMorphology>
            <feComposite in="dilate{{ i }}" in2="limit" operator="out" result="seed{{ i }}"></feComposite>
            {% endfor %}

                <feMerge>
                    <feMergeNode in="seed{{ iterations }}"></feMergeNode>
                    <feMergeNode in="limit"></feMergeNode>
                </feMerge>
        </filter>
    </defs>
</svg>




{% endblock %}
