{% extends "main.html" %}

{% block head %}
        <link rel="stylesheet" href="/static/gallery.css">
        <link rel="stylesheet" href="/static/liked_by.css">
{% endblock %}

{% block content %}

<style></style>

<div class="gallery-layout">
    
    <form class="search-form" method="GET" action="/gallery">
        <input type="text" name="q" class="search-input" placeholder="search..." value="{{ search_query }}">
        <button type="submit" class="btn-search">&rarr;</button>
    </form>

    <div class="gallery-grid">
        {% for drawing in drawings %}
            <a href="#popup-{{ drawing['id'] }}" class="art-card">
                <div class="small-board">
                    {% for char in drawing["payload"] if char in ["0", "1", "b"] %}
                        <div class="micro-p micro-{{ char }}"></div>
                    {% endfor %}
                </div>
                <div class="draw-title">{{ drawing["title"] }}</div>
                <div class="by">by {{ drawing["username"] }}</div>
            </a>

            <div id="popup-{{ drawing['id'] }}" class="art-popup-overlay">
                <div class="art-popup">
                    <a href="#" class="btn-close" style="text-decoration: none; color: inherit;">&times;</a>
                
                    <div class="popup-body">
                        <div class="big-board">
                            {% for char in drawing["payload"] if char in ["0", "1", "b"] %}
                                <div class="big-p big-{{ char }}"></div>
                            {% endfor %}
                        </div>

                        <div class="popup-sidebar">
                            {% if drawing["username"] == session["username"] %}
                                <form method="POST" action="/edit_title/{{ drawing['id'] }}" class="edit-form">
                                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">

                                    <input type="text" name="title" value="{{ drawing['title'] }}" class="popup-title-input" required maxlength="10">
                                    <div class="popup-by">by {{ drawing["username"] }}</div>
                                    <button type="submit" class="popup-btn">save name</button>
                                </form>
                                
                                <form method="POST" action="/delete/{{ drawing['id'] }}" class="delete-form">
                                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">

                                    <button type="submit" class="popup-btn popup-btn-black">delete</button>
                                </form>
                            {% else %}
                                <div class="popup-draw-title-noedit">{{ drawing["title"] }}</div>
                                <div class="popup-by">by {{ drawing["username"] }}</div>
                            {% endif %}

                            {% include 'liked_by.html' %}

                        </div>

                    </div>
                </div>
            </div>

            <div id="liked-by-{{ drawing['id'] }}" class="liked-by-popup-overlay">
                <div class="liked-by-popup">
                    <a href="#popup-{{ drawing['id'] }}" class="btn-close">&times;</a>
                    <div class="liked-by-header">liked by</div>

                    <div class="liked-by-list">
                        {% for user in drawing['like_users']|reverse %}
                            <div class="liked-by-user">{{ user }}</div>
                        {% endfor %}
                    </div>

                </div>
            </div>

        {% endfor %}
    </div>

</div>

{% endblock %}
