<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    {% block head %}{% endblock %}
</head>
<body>

<div id="tabs">
    {% if 'username' in session %}
        <a href="/" class="tab {% if request.path == '/' %}active{% endif %}">draw</a>
        <a href="/gallery" class="tab {% if request.path == '/gallery' %}active{% endif %}">gallery</a>
        <a href="/logout" class="tab {% if request.path == '/logout' %}active{% endif %}">profile</a>

    {% else %}
        <a href="/login" class="tab {% if request.path == '/login' %}active{% endif %}">login</a>
        <a href="/register" class="tab {% if request.path == '/register' %}active{% endif %}">register</a>
    {% endif %}
</div>
<div id="main">
    {% block content %}{% endblock %}
</div>

</body>
</html>